[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0
ExecStart=/usr/local/bin/etcd --name {{ instance_id }} \
  --data-dir /var/lib/etcd \
  --listen-client-urls https://{{ ansible_host }}:2379 \
  --advertise-client-urls https://{{ ansible_host }}:2379 \
  --listen-peer-urls https://{{ ansible_host }}:2380 \
  --initial-advertise-peer-urls https://{{ ansible_host }}:2380 \
  --initial-cluster {{ initial_cluster }} \
  --initial-cluster-token etcd-cluster-token \
  --initial-cluster-state new \
  --client-cert-auth \
  --trusted-ca-file /etc/etcd/ca.pem \
  --cert-file /etc/etcd/kubernetes.pem \
  --key-file /etc/etcd/kubernetes-key.pem \
  --peer-client-cert-auth \
  --peer-trusted-ca-file /etc/etcd/ca.pem \
  --peer-cert-file /etc/etcd/kubernetes.pem \
  --peer-key-file /etc/etcd/kubernetes-key.pem

[Install]
WantedBy=multi-user.target